.progress-bar-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #progress-bar {
    width: 200px;
    height: 20px;
  }
  #progress-value {
    display: block;
    margin-top: 10px;
  }

  /* styles.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#scene-container {
  width: 100vw;
  height: 100vh;
}